:host {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input,
    button {
      width: 200px;
    }
  }
}
